.links{
    padding: 5px !important;
    display: flex !important;
    align-items:flex-start !important;
    justify-content: center !important;
}
.project-card-body {
    justify-content: center !important;
    padding: 30px !important;
    width: 500px !important;
    margin: auto !important;
    background-color: #F5CAC3 !important; /* Decided to keep this color */
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    align-items: center !important;
}

.projectCard {
   padding: 20px !important;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.projectPic {
    width: 100% !important;
    height: 100% !important;
}

.project-card-title {
    font-size: 30px !important;
    font-weight: bold !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px !important;
}