.aboutImg {
    display: block !important;
    width: 100% !important;;
    height: 700px !important;;
    background-position: center !important;;
    margin-bottom: 30px !important;;
    padding-bottom: 10px !important;;
  }
  